@import "tailwindcss";
@import "react-image-gallery/styles/css/image-gallery.css";

#root {
  height: 100vh !important;
}

footer {
  margin-top: auto;
}

@media (min-width: 767px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border: thin solid rgb(238, 238, 238);
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border: thin solid #ccc;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
  }
}
