.forgot-page {
  font-family: inherit;
  line-height: inherit;
  text-transform: unset;
  text-rendering: optimizeLegibility;
  background-color: #fff;
}

.forgot-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  min-height: 80vh;
  padding: 0 2rem;
  margin: 0 auto;
}

.forgot-form {
  max-width: 35rem;
  width: 100%;
  background-color: #fff;
  border: 0.5px solid #cccccc56;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #cccccc56;
}
