.register-page {
  margin: 50px 0;
  font-family: inherit;
  line-height: inherit;
  text-transform: unset;
  text-rendering: optimizeLegibility;
  background-color: #fff;
}

.register-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  min-height: 105vh;
  padding: 0 2rem;
  margin: 0 auto;
}

.register-page .container .register-form {
  max-width: 33rem;
  width: 100%;
  background-color: #fff;
  border: 0.5px solid #cccccc56;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #cccccc56;
}

.question {
  text-align: center;
}

.text-link {
  color: #1a73e8;
  text-decoration: none;
}
